<!DOCTYPE html>
<html>
  <head>
    <title>CuDoc</title>
    <style type="text/css">
     <%= styles %>
    </style>
    <script src="jquery.js"></script>
    <script src="foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </head>
  <body>
    <header>
      <div class="row">
        <div class="large-12 columns">
          <h1 class="subheader">Glos API</h1>
          <h4 class="subheader">Feature tests</h4>
        </div>
      </div>
    </header>
    <br /><br />

    <%= features %>
  </body>
</html>