<!DOCTYPE html>
<html>
  <head>
    <title>Cucumber Feature Tests</title>
    <style type="text/css">
      <%= styles %>
    </style>
    <script>
      <%= script %>
    </script>
  </head>
  <body>
    <header>
      <div class="row">
        <div class="large-6 columns">
          <h1 class="subheader">Glos API </h1>
          <h4 class="subheader">Feature tests</h4>
        </div>
        <%= build %>
      </div>
    </header>
    <br /><br />
    <%= features %>
  </body>
</html>